.listItemDiv {
    height: 11.5vh;
    width: 100%;
    padding: 1em;
}

.listItemHeaderDiv {
    display: flex;
    width: 100%;
    height:100%;
    overflow-x: scroll;
    background-color: transparent;
}

@media screen and (width < 800px) {
    .listItemHeaderDiv {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (width > 800px){
    .listItemHeaderDiv {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}



.listItemHeadingButton {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 1rem;
}

.listItemHeadingPara {
    background-color: transparent;
    font-size: 0.7rem;
}

.listItemContentDiv {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s linear;
    padding: 0.5em;
    height:40vh;
}

.listItemContentDivHeading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.listItemContentDivHeading h6 {
    font-size: 1rem;
    font-weight: 900;
}

.listItemContentDivHeading button {
    border: none;
}

.listItemContentDivHeading button i {
    font-size: 1rem;
    font-weight: 900;
}

.listItemContent{
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    resize: none;
    overflow: auto;
    padding: 1em;
}



